html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg) 50% 0;
    -webkit-animation: slideUp 15s linear infinite;
    -moz-animation: slideUp 15s linear infinite;
    animation: slideUp 15s linear infinite;
    font-family: 'Architects Daughter', cursive;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}

.title {
    font-size: 6em;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #080808;
}

.form-control {
    font-family: 'Play', sans-serif;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black !important;
}

.content {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.result {
    margin-top: 8%;
}

.flash {
    position: absolute;
    z-index: 9;
    color: #777;
    -webkit-animation: fadeIn 1.5s forwards;
    -moz-animation: fadeIn 1.5s forwards;
    animation: fadeIn 1.5s forwards;
}

#playBtn {
    z-index: 80;
}

/* Start: Define CSS3 slideUp animation */
@-webkit-keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}

@-moz-keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}

@keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}

/* End: Define CSS3 slideUp animation */

/* Start: Define CSS3 fadeIn animation */
@-webkit-keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
/* End: Define CSS3 fadeIn animation */

/* Start: Change bootstrap navbar color meet material design */
.navbar-default {
    background-color: #673ab7;
    border-color: #512da8;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #d1c4e9;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #d1c4e9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #d1c4e9;
    background-color: #512da8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #d1c4e9;
    background-color: #512da8;
}

.navbar-default .navbar-toggle {
    border-color: #512da8;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #512da8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #d1c4e9;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d1c4e9;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d1c4e9;
        background-color: #512da8;
    }
}

/* End: Change bootstrap navbar color meet material design */