html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    background: url(../images/bg.jpg) 50% 0;
    -webkit-animation: slideUp 10s linear infinite;
    -moz-animation: slideUp 10s linear infinite;
    animation: slideUp 10s linear infinite;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}


.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 6em;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #080808;
}

@-webkit-keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}

@-moz-keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}

@keyframes slideUp {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: 50% -250px;
    }
}
